# 4. Boolean and Categorical Values

In [1]:
# Read in stored values

%store -r df
%store -r date_df
%store -r revenue_df

In [3]:
revenue_df.head(2)

,invoice,stockcode,description,quantity,invoicedate,price,customer_id,country,date_and_time,date,time,revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-12-01 07:45:00,2009-12-01,07:45:00,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01 07:45:00,2009-12-01,07:45:00,81.0

Based on the data frame I currently have in the variable name `cost_df`, I'm going to say there are no boolean features. With that said, we know how easy it would be to create some dummy columns, but I'll refrain for the time being. 

As with categorical values, I can do some further investigating in regards to item `description` and `country,` but that might be it. I'll come back to this after I complete the assignment or after some feedback.

Next up is coercing datetimes and handling na values

1. Target Value Identification and Exploration

2. Identify Datetimes for Split

3. Numerical Values and DateTime Values

4. Boolean and Categorical Values

5. **Coercing Datetimes (add_datepart), and handling na values**

6. Train and Score Initial Model 

7. Plot/Coerce Target Variable (optional)